#logo {
    height: 70px;
    width: 90px;
}
.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.8;
    background: #ffffff; 
}

.nav-link {
    font-size: larger;
    
}

.nav-link:hover {
    font-size: x-large;
}

#home {
    position: relative;
    background-image: url("../imgs/img5.jpg");
    background-attachment: fixed;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

#home .overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.home-inner {
    padding-top: 250px;
}

#heading {
    font-family: 'Arvo', serif;
}

#highlight {
    color: #3292a6;
}

#about-us {
    font-family: 'Arvo', serif;
}

.img-fluid {
    height: 350px;
    min-width: 100%;
    object-fit: cover;
    object-position: center center;
}

#font-arvo {
    font-family: 'Arvo', serif;
}

@media (max-width: 768px) {
      #heading h1, p {
        font-size: 4rem; 
    } 
    #main-footer h3, p {
        font-size: 1rem;
    }
    .card h1 {
        font-size: 1.9rem;
    }
    .card p {
        font-size: 1.5rem;
    }
    #about h1 {
        font-size: 1.9rem;
    }
    #contact h1 {
        font-size: 1.9rem;
    }
}

